<br />
<% post.comments.forEach(function (comment, index) { %>
  <div style="padding-left:4em">
    <p><img src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
    <span class="info"> 回复于 <%= comment.time %></span></p>
    <p><%- comment.content %></p>
  </div>
<% }) %>
<form method="post">
<% if (user) { %>
  <div class="form-group">
    <label for="name">姓名：</label>
    <input type="text" class="form-control" name="name" value="<%= user.name %>" />
  </div>
  <div class="form-group">
    <label for="email">邮箱：</label>
    <input type="text" class="form-control" name="email" value="<%= user.email %>" >
  </div>
  <div class="form-group">
    <label for="website">网址：</label>
    <input type="text" class="form-control" name="website" value="/u/<%= user.name %>" >
  </div>
<% } else { %>
  <div class="form-group">
    <label for="name">姓名：</label>
    <input type="text" name="name" class="form-control"> 
  </div>
  <div class="form-group">
    <label for="name">邮箱：</label>
    <input type="text" name="email" class="form-control"> 
  </div>
  <div class="form-group">
    <label for="name">网址：</label>
    <input type="text" name="website" class="form-control" value="http://" > 
  </div>
<% } %>
  <textarea name="content" class="form-control" rows="5" cols="80"></textarea><br />
  <input type="submit" class="form-control" value="留言" />
</form>