<%- include header.html %>
  <form method="post">
      <div class="form-group">
        <label for="title">标题：</label>
        <input type="text" id="title" class="form-control" name="title" value="<%= post.title %>" disabled="disabled">
      </div>
      <div class="form-group" style="overflow: hidden">
        <label for="">标签：</label>
        <div class="col-sm-3">
          <input type="text" name="tag1" value="<%= post.tags[0] %>" class="form-control" disabled>
        </div>
        <div class="col-sm-3">
          <input type="text" name="tag2" value="<%= post.tags[1] %>" class="form-control" disabled>
        </div>
        <div class="col-sm-3">
          <input type="text" name="tag3" value="<%= post.tags[2] %>" class="form-control" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="post">正文：</label>
        <textarea name="post" rows="20" cols="100" class="form-control"><%= post.post %></textarea>
      </div>
      <input type="submit" class="btn btn-primary" value="保存修改" />
    </form>
<%- include footer.html %>
